
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*NavBar Desktop View*/
.header {
  display: flex;
  background-color: #EEEEEE;;
  justify-content: space-between;
  align-items: center;
  padding: .2em 2em;
  height: 80px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-option {
  display: none;
}




@media (max-width: 690px) {
  /*Mobile View */
  .sign_up input{
    width: 60%;
    margin: auto;
  }
  .menu-icon{
    display: block;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1.1em;
    z-index: 2;
  }

  .logo-nav .nav-options a{
    text-decoration: none;
    color: #D8D2CB;
    padding-bottom: .5em;
    border-bottom: 2px solid transparent;
    transition: all .5s;
  }

  .logo-nav .nav-options a:hover{
    color: #EEEEEE;
    border-bottom: 2px solid #398AB9;
  }

  .logo-nav .logo-container a{
    text-decoration: none;
    color: #1A374D;
    font-weight: bold;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 21.5em;
    position: absolute;
    top: 4.5em;
    left: -100%;
    opacity: 0;
    transition: all 0.7s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #1C658C;
    left: 0;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 1.7em;
    height: 1.7em;
    color: #1C658C;
    transition: color .3s;
  }

  .menu-icon:hover{
    color: #398AB9;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 2em 0;
  }

  .boy_child {
    background-color: rgba(28,101,140, 0.4);
    color: #EAEAEA;
    width: 60%;
    position: absolute;
    bottom: 0;
    text-transform: capitalize;
    padding: 1em;
    text-align: center;
    border-radius: .5em;
  
   }

  .about{
    display: grid;
    width: 80%;
    place-items: center;
    margin: auto;
    grid-template-columns: auto;
    text-align: center;
    
  }

  .value img{
    width: 100%;
    height: 25em;
  }

  .sign_up{
    text-align: center;
  }

  .connect{
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: auto;
    font-size: 1em;
    padding: .5em;
  }
 
}

@media (min-width: 691px) {
  .menu-icon {
    display: none;
  }

  .header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    
  }

  .logo{
    text-decoration: none;
    color: #666;
    margin-bottom: 1em;
    padding: 1em 1em;
    position: absolute;
    left: .5em;

  
  }
  .logo-nav ul{
    list-style-type: none; 
  }

  .logo-nav ul li{
    display: inline-block;
  
  transition: all 0.3s ease 0s;
  }

  .logo-nav ul li a {
    padding: 1em 1em;
    transition: all 0.3s ease 0s;
  }

  .logo-nav ul li a:hover{
    background-color: #1C658C;
    color: #EEEEEE;
  }

  /* .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #1C658C;
    min-width: 7em;
    z-index: 1;
  }

  .dropdown-menu a:hover{
    background-color: #666;
    color: #000;
  }

  .programmes:hover ,.dropdown-menu{
    display: block;
  } */

  .boy_child {
    background-color: rgba(28,101,140, 0.4);
    color: #EAEAEA;
    width: 50%;
    position: absolute;
    bottom: 0;
    text-transform: capitalize;
    padding: 1em;
    text-align: center;
    border-radius: .5em;
  
   }

  .about{
    display: grid;
    place-items: center;
    margin: auto;
    grid-template-columns: auto auto;
    text-align: center;
    
  }

  .option a{
    text-decoration: none;
    color: #1A374D;
  }

  .connect {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .sign_up{
    padding: 1em;
    text-align: center;
  }

  .social{
    width: 100%;
  }
  .social a{
    margin-right: .2em;
  }
  .sign_up button{
    font-size: .8em;
  }

  .value{
    width: 80%;
    margin: auto;
  }

  .value img{
    width: 100%;
    height: 25em;
  }

  
}

@media (min-width: 800px) {
  /* .main{
    margin-top: -5em;

  } */
  .boy_child {
    background-color: rgba(28,101,140, 0.4);
    color: #EAEAEA;
    width: 60%;
    position: absolute;
    text-transform: capitalize;
    padding: 3em;
    text-align: center;
    border-radius: .5em;
    
  
   }

  .about{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    text-align: center;
    
  }
  
  .connect {
    width: 70%;
    margin:auto;
    
  }

  .social{
    padding-right: .5em;
  }

  .value{
    width: 50%;
    margin: auto;
  }

  .value img{
    width: 100%;
    height: 25em;
  }

  .contact{
    width: 60%;
    margin: auto;
  }

  

}

@media (min-width: 1020px) {

  .boy_child {
    background-color: rgba(28,101,140, 0.4);
    color: #EAEAEA;
    width: 40%;
    position: absolute;
    text-transform: capitalize;
    padding: 3em;
    text-align: center;
    border-radius: .5em;
    
  
   }

  .about{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    text-align: center;
    
  }

  .value .paras {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
  }

  .value{
    width: 100%;
  }

  .value img{
    width: 100%;
    height: 30em;
  }

  .program_info{
    width: 60%;
    margin: auto;
    font-size: 1em;
  }

  .connect{
    width: 50%;
    
  }

  .conclusion{
    width: 70%;
    margin: auto;
    font-size: 1em;
  }

  footer p{
    font-size: 1em;
  }

  .sign_up button{
    font-size: 1em;
  }

}

.menu-icon {
  width: 1.7em;
  height: 1.7em;
  color: #1C658C;
  transition: color .3s;
}
.main {
  padding:0;
  margin:0;
  margin-top: 5em;
  height: 50vh;
  background-image: url('./components/images/kids.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.double_down{
text-align: center;
font-size:1em;
padding: 1em 0 .1em 0;
color: rgba(28,101,140, 0.4);
transition: all .5s;
}

.double_down:hover{
  color: rgba(28,101,140, 1);
}


.more_icon{
  font-size: 1.2em;
  color: #fff;
}

.boy_child a{
  background-color: rgba(28,101,140, 1);
  padding: .4em 1em;
  border: 1px solid #0A63BC;
  border-radius: 5px;
  transition: all .5s;
}

.boy_child a:hover{
  background-color:transparent;
  color: rgba(28,101,140, 1);
}

.mission{
  width: 80%;
  margin: 1em auto;
  text-align: center;
  

}

.mission span{
  font-size: 1.2em;
  color: #CACACA;
  transition: .5s ease-in-out;
}

.mission span:hover{
  color: rgb(3,105,153);
}

.mission_header,.about_title {
  font-size: 1.4em;
  text-transform: capitalize;
  text-align: center;
  width: 50%;
  margin: 1em auto;
  padding-bottom: .5em;
  border-bottom: 2px solid #D8D2CB;

}

.mission .quote{
  font-weight: bold;
  color: #398AB9;
  text-transform: capitalize;
}


.about_info{
  display: grid;
  grid-template-columns: auto auto;
}

.image{
  position: relative;
  width: 19em;

}

.image_img{
  display: block;
  width: 100%;
}

.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image_overlay:hover{
  opacity: 1;
}

.image_overlay > *{
  transform: translateY(2em);
  transition: transform 0.5s;
}

.image_overlay:hover > *{
  transform: translateY(0);
}

.image_title{
  font-weight: bold;

}

.image_description{
  margin-top: 0.3em;
}

.values h3{
  width: 50%;
  margin: 1em auto;
  text-align: center;
  color: #fff;
  padding-bottom: .7em;
  border-bottom: 2px solid #666;
}

.values{
  background-color: #1A374D;
  color: #fff;
  padding-top: 2em;
}

.value p{
  width: 100%;
  padding: 1em;
}

.program{
  padding: 1em;
}

.program h1{
  text-transform: capitalize;
  text-align: center;
  color: #1A374D;
}

.program_card{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: .5em;
 } 

 .star{
   color: #1C658C;
   margin-top: 1.5em;
   font-size: 1.3em;
 }

 .program_card p{
   font-weight: bold;
  }

  .program_card ul{
    list-style:disc;
    color: #666;
  }

  .main_about{
    margin-top: 5em;
    padding: 2em;
  }

 

  .who h4,.main_about > h4,.contact h4{
    text-transform: capitalize;
    font-weight: 600;
    color: #1A374D;
    padding-bottom: 1em;
  }


  .social{

    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: .2em;
    font-size: 1.2em;
    margin-top: 1.8em;
  }

  .twitter{
    color: #1C9CEA;
  }

  .facebook{
    color: #395692;
  }

  .youtube{
    color: #F60002;
  }

  .linkedin{
    color: #0A63BC;
  }

  .sign_up{
    padding: 1em;
    /* text-align: center; */
  }

  .sign_up p{
    font-weight: bold;
    color: #1C658C;
    text-transform: capitalize;
    
  }

.sign_up input{
  padding-bottom: .4em;
  border: none;
  border-bottom: 2px solid #1C9CEA;
}

.bottom{
  margin: 0;
  background-color: #F3F4ED;
}

.conclusion{
  color: #3e3f41;
  padding: 1em;
  text-align: center;
}

.news{
  margin-top: 5em;
  padding: 2em;
  height: 50vh;
}

.contact{
  margin-top: 5em;
  padding: 2em;
}

.contact form{
  display: grid;
  grid-template-columns: 1fr;
}

.contact form input,.contact form textarea{
  margin: 1em;
  padding: .5em;
  border: none;
  border-bottom: 2px solid #1A374D;
}


footer {
  background-color: rgb(3,105,153);
  color: aliceblue;
  padding: 2em;
  text-align: center;
  left:0px;
  bottom:0px;
  z-index:1;
  width:100%;
  font-size: small;
}

footer p{
  margin-top: 1em;
}
